@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
  font: 100% Roboto, sans-serif;
  background: url('https://live.staticflickr.com/659/32483208495_903bb4ff54_b.jpg') 50% 50% no-repeat;
  background-size: cover;
  padding: 50px;
  margin: 0;
  height: 70%;
}

nav {
  width: 300px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}

nav:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}

a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover { background: #ffe082; }

a:active { background: #ffca28; }

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
}

.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
}

.navicon div:before,
.navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
}

.navicon div:before { top: -7px; }

.navicon div:after { top: 7px; }

@font-face {
	font-family:'frozen'; 
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff');
}

h1 {

	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 10vw;
	margin: 0;
	font-family: 'frozen', serif;
	font-weight: 500;
}
h1 {
	
	background-size: contain;
	width: 100%;
	text-align: center;
	color: white;
	font-weight: 800;
	
	
}


.sub{
       color: white;
      text-align: center;
	  top: 30%;
	  left: 50%;
	  font-weight: 800;
      margin-top: 6%;
      background-size: contain;
      font-family: 'frozen', serif;
      font-size: 2vw;
      letter-spacing: 2px;
}

h3{
  float:right;
  font-family: 'frozen', serif;
  color: white;

}
